{{ ansible_managed | comment }}

# Module: {{ module_name }}
# Docs: https://www.elastic.co/guide/en/beats/metricbeat/7.x/metricbeat-module-{{ module_name }}.html

{% for config in module_config %}

- module: {{ module_name }}
{% for key, value in config.items() %}
{% if value is mapping %}
  {{ key }}:
{% for value_key, value_element in value.items() %}
    {{ value_key }}: {{ value_element }}
{% endfor %}
{% else %}
  {{ key }}: {{ value }}
{% endif %}
{% endfor %}
{% endfor %}
