{{ ansible_managed | comment }}

# Module: mssql
# Docs: https://www.elastic.co/guide/en/beats/metricbeat/7.x/metricbeat-module-mssql.html
{% set module_name = "mssql" %}

{% for config in module_config %}

- module: {{ module_name }}
  period: {{ config.period }}
{# Metricsets #}
  metricsets:
{% for metricset in config.metricsets %}
    - {{ metricset }}
{% endfor %}
{# Hosts #}
  hosts:
{% for host in config.hosts %}
    - {{ host }}
{% endfor %}
{% if config.username is defined %}
  username: {{ config.username }}
{% endif %}
{% if config.password is defined %}
  password: {{ config.password }}
{% endif %}
{% if config.server_status_path is defined %}
  server_status_path: {{ config.server_status_path }}
{% endif %}

{% endfor %}
