# Module: system
# Docs: https://www.elastic.co/guide/en/beats/metricbeat/7.5/metricbeat-module-system.html
{% set module_name = "system" %}

{% for config in module_config %}
- module: {{ module_name }}
  period: {{ config.period }}
{# Metricsets #}
  metricsets:
{% for metricset in config.metricsets %}
    - {{ metricset }}
{% endfor %}
{# Processors #}
{% if config.processors is defined %}
  processors:
{% for processor in config.processors %}
{% for processor_name, processor_value in processor.items() %}
{% if processor_value is mapping %}
  - {{ processor_name }}:
{% for processor_element_key, processor_element_value in processor_value.items() %}
      {{ processor_element_key }}: {{ processor_element_value }}
{% endfor %}
{% else %}
  - {{ processor_name }}: {{ processor_value }}
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
{# Extra configurations #}
{% if config.extra is defined %}
{% for key, value in config.extra.items() %}
{% if value is mapping %}
  {{ key }}:
{% for value_key, value_element in value.items() %}
    {{ value_key }}: {{ value_element }}
{% endfor %}
{% else %}
  {{ key }}: {{ value }}
{% endif %}
{% endfor %}
{% endif %}

{% endfor %}