# Module: elasticsearch
# Docs: https://www.elastic.co/guide/en/beats/metricbeat/7.5/metricbeat-module-elasticsearch.html
{% set module_name = "elasticsearch" %}

{% if metricbeat_modules[module_name].enabled == true %}
{% for config in metricbeat_modules[module_name].config %}
- module: {{ module_name }}
  period: {{ config.period }}
{# Metricsets #}
  metricsets:
{% for metricset in config.metricsets %}
    - {{ metricset }}
{% endfor %}
{# Hosts #}
  hosts:
{% for host in config.hosts %}
    - {{ host }}
{% endfor %}
{# Username #}
{% if config.username is defined %}
  username: {{ config.username }}
{% endif %}
{# Password #}
{% if config.password is defined %}
  password: {{ config.password }}
{% endif %}

{% endfor %}
{% endif %}